<footer>
    <div class="container-footer">
        <div class="content-foo">
            <a href="#"
            target="_blank">
                <h4>Repository Link</h4>
                <p>Front-End</p>
            </a>
        </div>
        <div class="content-foo">
            <a href="">
                <h4>Repository Link</h4>
                <p>Back-End</p>
            </a>
        </div>
        <div class="content-foo">
            <a href="#" target="_blank">
                <h4>Contact</h4>
                <p>Write E-mail</p>
            </a>
        </div>
    </div>
    <h2 class="title-final">Storm Date | Marco Salvador | 2023</h2>
</footer>